<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <title>
      {%block title%}{%endblock%}
    </title>
  </head>
  <body>
    <content>
      <div class="container">
        {%block content%}
        {%endblock%}
      </div>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </content>
  </body>
</html>
