{%extends "/layouts/base.html"%}

{%block content%}
    <div class="well col-md-6 col-md-offset-3" style="margin-top: 10%;">
        {%if admin%}
            <p class="alert alert-info">{{admin}}</p>
            <button id="authorize-button" style="visibility: hidden">Authorize</button>
            <div>
                <span id="currentUsers">220</span><label> Current users</label><br/>
                +<input type="text" id="additionalUsers" /><label> Additional user</label><br/>
                <span id="totalUsers">220</span> <label> Total user</label><br/>


            </div>
        {%endif%}
        <p>{{user}}</p>
    </div>
{%endblock%}
